<html>
  <head>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-T6QK835');
    </script>
    <title>Try Redis</title>
    <link href='/images/favicon.png' rel='shortcut icon'>
    <link href='/views/style.css' rel='stylesheet'>
  </head>
  <body>
    <noscript>
      <iframe height='0' src='https://www.googletagmanager.com/ns.html?id=GTM-T6QK835' style='display:none;visibility:hidden' width='0'></iframe>
    </noscript>
    <div id='header'>
      <img height='50' src='/views/images/try-redis-500x50.png' width='500'>
    </div>
    <div id='log'>
      <div class='line notification'>
        <p>Welcome to <strong>Jiexi's Redis</strong>, a demonstration of the Java implementation of 
        <a href="https://github.com/lijiexi/myRedis">Redis</a> database!</p>
        
        <p>Please type <a href="#run">HELP</a> to see a list of supported
        commands, or any valid Redis command to play with the database.</p>
      </div>
    </div>
    <div id='toolbar'>
      <input id='input' spellcheck='false'>
    </div>
    <div id='footer'>
      <p>This site is open source software, you can find
      the current version <a href="https://github.com/lijiexi/myRedis">here</a>.
     </p>
    </div>
    <script src='/views/javascripts/jquery.min.js' type='application/x-javascript'></script>
    <script src='/views/javascripts/underscore-min.js' type='application/x-javascript'></script>
    <script src='/views/javascripts/json2.js' type='application/x-javascript'></script>
    <script src='/views/javascripts/terminal.js' type='application/x-javascript'></script>
  </body>
</html>
